.charging {
    &__title {
        @include block-pos;
        padding: 0 20px;
        margin: 32px auto 128px;

        @media (max-width: 767px) {
            margin: 32px auto 64px;
        }

        >div {
            @include flex-params(row, space-between, center);
            gap: 20px;

            h4 {
                max-width: 1098px;
            }

            .app-links {
                flex-wrap: nowrap;
            }

            @media (max-width: 767px) {
                flex-direction: column;

                .app-links {
                    flex-wrap: wrap;
                }
            }
        }
    }


    .instructions-wrapper {
        background: #F4F4FD;
        padding: 64px 20px;
        margin-bottom: 128px;

        .instructions {
            h3 {
                margin-bottom: 32px;
            }

            .instructions-list {
                li {
                    &:last-child {
                        &::after {
                            left: 35%
                        }
                    }
                }
            }
        }

        @media (max-width: 1024px) {
            margin-bottom: 64px;
        }

        @media (max-width: 767px) {
            padding: 32px 20px;
            margin-bottom: 32px;

            .instructions {
                h3 {
                    margin-bottom: 16px;
                }

                .instructions-list {
                    li {
                        &:last-child {
                            &::after {
                                left: 50%
                            }
                        }
                    }
                }
            }
        }
    }

    .faq-block {
        @include flex-params(row, space-between, flex-start);
        gap: 50px;
        @include pbBlock;

        @media (max-width: 767px) {
            flex-direction: column;
            gap: 16px;
        }

        h3 {
            max-width: 361px;

            @media (max-width: 767px) {
                max-width: 100%;
            }
        }

        &__list {
            flex-grow: 1;
        }

        &__item {
            padding: 16px 0;
            border-bottom: 1px solid rgba($color: #00902A, $alpha: .3);

            &.active {
                border-bottom: 1px solid rgba($color: #00902A, $alpha: 1);

                .faq-block__button {
                    background-color: #00902A;

                    &::after {
                        background-color: #fff;
                    }

                    &::before {
                        transform: translate(-50%, -50%) rotate(0);
                    }
                }

                .faq-block__dropdown {
                    max-height: 1000px;
                    padding-top: 16px;
                }
            }
        }

        &__item-title {
            @include flex-params(row, space-between, center);
            cursor: pointer;
        }

        &__dropdown {
            max-height: 0;
            overflow: hidden;
            transition: all .2s;

            li {
                width: 100%;
            }
        }
    }

    .video-block {
        @include pbBlock;

        &__container {
            position: relative;
            border-radius: 6px;
            overflow: hidden;
            height: 660px;
            width: 100%;
            z-index: 0;

            @media (max-width: 767px) {
                height: 300px;
            }

            &.play {

                &::after,
                .play-btn {
                    opacity: 0;
                }
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba($color: #000000, $alpha: .3);
                border-radius: 6px;
                z-index: 1;
                opacity: 1;
            }

            video {
                object-fit: cover;
            }

            .play-btn {
                opacity: 1;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 2;

                .icon-wrapper {
                    position: absolute;
                    padding: 12px;
                    width: 92px;
                    height: 92px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%) scale(1);
                    border: 2px solid rgba($color: #F4F4FD, $alpha: .5);
                    border-radius: 50%;
                    transition: all .2s;
                }

                &:hover {
                    .icon-wrapper {
                        transform: translate(-50%, -50%) scale(1.1);
                        border-color: #F4F4FD;
                    }
                }
            }
        }
    }
}