.header {
    position: relative;

    &.active {
        .header__dropdown {
            max-height: 600px;
            padding: 32px 20px 64px;
        }

        @media (max-width: 1024px) {
            box-shadow: none;

            .header__dropdown {
                max-height: none;
                padding: 0;
                transform: translateX(-50%);
            }
        }
    }

    .logo__wrapper {
        max-height: 36px;

        @media (max-width: 767px) {
            width: 180px;
            max-height: 25px;
        }
    }

    &__row {
        @include block-pos;
        @include flex-params(row, space-between, center);

        &:first-child {
            padding: 30px 20px;

            @media (max-width: 1024px) {
                padding: 15px 20px;

            }
        }

        nav {

            @media (max-width: 1140px) {
                display: none;
            }

            ul {
                @include flex-params(row, space-between, center);
                gap: 30px;
                margin-bottom: 0;

                li {
                    white-space: nowrap;

                    &::before {
                        display: none;
                    }
                }

                a {
                    @include font-params(500, 18px, 27px);
                }
            }
        }
    }

    &__btns {
        @include flex-params(row, space-between, center);
        gap: 32px;

        button:first-child {
            @media (max-width: 767px) {
                display: none;
            }
        }
    }

    &__burger {
        @include flex-params(column, space-between, flex-start);
        width: 28px;
        height: 28px;
        padding: 4px;

        span {
            height: 2px;
            background: #000;
            border-radius: 25px;
            transition: all .2s;

            &:nth-child(1) {
                width: 100%;

            }

            &:nth-child(2) {
                width: 70%;
                opacity: 1;
            }

            &:nth-child(3) {
                width: 100%;
            }
        }

        &.active {
            span {
                &:nth-child(1) {
                    transform: rotate(45deg) translate(7.5px, 6px);
                }

                &:nth-child(2) {
                    width: 0;
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) translate(6px, -5px);
                }
            }
        }
    }

    &__dropdown {
        position: absolute;
        top: 100%;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        max-height: 0;
        overflow: hidden;
        min-width: 300px;
        background: #fff;
        transition: all .3s;
        padding: 0 20px;
        align-items: flex-start;
        gap: 50px;
        z-index: 100;

        @media (max-width: 1024px) {
            position: fixed;
            top: 82px;
            height: calc(100vh - 82px);
            height: calc((var(--device-height, 1vh) * 100) - 82px);
            margin: 0;
            max-height: none;
            padding: 0;
            transform: translateX(-200%);
            flex-direction: column;
            background: #fff;

            .dropdown__col {
                width: 100%;

                &.active {
                    grid-row: 1;
                    transition: all .2s;

                    .subcategories__list {
                        transform: translateX(0);
                    }

                    h6 {
                        color: #71C370;

                        &::after {
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }

        @media (max-width: 767px) {
            top: 58px;
            height: calc(100vh - 58px);
            height: calc((var(--device-height, 1vh) * 100) - 58px);
        }
    }

    .dropdown__side {
        position: relative;
        @include flex-params(row, space-between, flex-start);

        @media (max-width: 1024px) {
            width: 100%;
        }

        h6 {
            margin-bottom: 32px;

            @media (max-width: 1024px) {
                @include flex-params(row, space-between, center);
                margin-bottom: 0;
                padding: 20px;
                border-bottom: 1px solid #F4F4FD;
                cursor: pointer;

                &::after {
                    content: '';
                    display: inline-block;
                    width: 10px;
                    height: 20px;
                    background: url('../../../public/images/svg/arrow.svg') no-repeat center;
                    background-size: contain;
                    transform: rotate(0);
                    z-index: -1;
                    transition: transform .2s;
                }
            }
        }

        .subcategories__list {
            margin-bottom: 0;

            @media (max-width: 1024px) {
                width: 100%;
                position: absolute;
                background: #fff;
                transform: translate(-100%);
                height: calc(100vh - 194px);
                height: calc((var(--device-height, 1vh) * 100) - 194px);
                overflow-x: hidden;
                overflow-y: auto;
                scrollbar-width: none;
                gap: 0;
                transition: transform .2s;

                &::-webkit-scrollbar {
                    width: 0;
                }
            }

            @media (max-width: 767px) {
                height: calc(100vh - 178px);
                height: calc((var(--device-height, 1vh) * 100) - 178px);
            }

            li {
                &::before {
                    display: none;
                }

                @media (max-width: 1024px) {
                    width: 100%;
                    border-bottom: 1px solid #F4F4FD;

                    a {
                        padding: 20px;
                        display: block;
                        width: 100%;
                    }
                }
            }
        }

        &.left {
            flex-grow: 1;
            max-width: 1048px;

            @media (max-width: 1024px) {
                flex-grow: unset;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: auto;
            }
        }

        &.right {
            gap: 16px;
            flex-direction: row;

            @media (max-width: 1024px) {
                width: 100%;
                padding: 0;
                gap: 0;

                a {
                    font-weight: 700;
                    display: block;
                    width: calc(100% / 3);
                    text-align: center;
                    padding: 16px 0;

                    &.active {
                        color: #71C370;
                    }
                }
            }
        }
    }
}