.mission {
    &__title {
        margin-top: 64px;
        @include flex-params(row, space-between, flex-start);
        gap: 20px;

        p {
            @include font-params(500, 22px, 33px);
            max-width: 1407px;
        }

        @media (max-width: 767px) {
            margin-top: 32px;
            flex-direction: column;

            p {
                @include font-params(500, 18px, 25px);
            }
        }
    }

    &__banner-video {
        position: relative;
        height: 800px;
        border-radius: 6px;
        @include mbBlock;

        @media (max-width: 767px) {
            height: 300px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba($color: #000000, $alpha: .35);
            top: 0;
            left: 0;
            border-radius: 6px;
        }

        video {
            object-fit: cover;
            border-radius: 6px;
        }
    }

    &__banner-text {
        position: absolute;
        top: 90px;
        left: 90px;
        color: #fff;
        z-index: 1;

        @media (max-width: 767px) {
            left: 50%;
            top: 45px;
            transform: translateX(-50%);
        }
    }

    .instructions {
        @include pbBlock;
    }
}