@font-face {
    font-family: Montserrat;
    src: url('../../fonts/Montserrat-Black.woff2') format('woff2'),
        url('../../fonts/Montserrat-Black.woff') format('woff'),
        url('../../fonts/Montserrat-Black.ttf') format('ttf');
    font-weight: 900;
}

@font-face {
    font-family: Montserrat;
    src: url('../../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../../fonts/Montserrat-ExtraBold.woff') format('woff'),
        url('../../fonts/Montserrat-ExtraBold.ttf') format('ttf');
    font-weight: 800;
}

@font-face {
    font-family: Montserrat;
    src: url('../../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../../fonts/Montserrat-Bold.woff') format('woff'),
        url('../../fonts/Montserrat-Bold.ttf') format('ttf');
    font-weight: 700;
}

@font-face {
    font-family: Montserrat;
    src: url('../../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../../fonts/Montserrat-SemiBold.woff') format('woff'),
        url('../../fonts/Montserrat-SemiBold.ttf') format('ttf');
    font-weight: 600;
}

@font-face {
    font-family: Montserrat;
    src: url('../../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../../fonts/Montserrat-Medium.woff') format('woff'),
        url('../../fonts/Montserrat-Medium.ttf') format('ttf');
    font-weight: 500;
}

@font-face {
    font-family: Montserrat;
    src: url('../../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../../fonts/Montserrat-Regular.woff') format('woff'),
        url('../../fonts/Montserrat-Regular.ttf') format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url('../../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../../fonts/Montserrat-Light.woff') format('woff'),
        url('../../fonts/Montserrat-Light.ttf') format('ttf');
    font-weight: 300;
}

@font-face {
    font-family: Montserrat;
    src: url('../../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../../fonts/Montserrat-ExtraLight.woff') format('woff'),
        url('../../fonts/Montserrat-ExtraLight.ttf') format('ttf');
    font-weight: 200;
}

@font-face {
    font-family: Montserrat;
    src: url('../../fonts/Montserrat-Thin.woff2') format('woff2'),
        url('../../fonts/Montserrat-Thin.woff') format('woff'),
        url('../../fonts/Montserrat-Thin.ttf') format('ttf');
    font-weight: 100;
}